body {
    margin: 0; 
    padding: 0;
    background-color: rgba(92, 135, 191, 0.949);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 main {
     display: flex;
     flex-direction: column;
     margin: 20px 50px 20px 50px;
     font-size: 18px;
 }
 
 h1 {
     color:rgba(92, 135, 191, 0.949);
 }
 
 header {
     padding: 10px 50px 0px 300px; 
     margin: auto;
     height: 180px;
     background-color:rgb(239, 239, 239);
 }
 
 div {
     padding: 20px 40px 20px 40px;
     width: 50%;
     margin: auto;
 }
 
 div.contacts {
     background-color:rgb(173, 173, 173);
 }
 
 div.info {
     background-color:rgb(203, 203, 203);
 }
 
 div.skills {
     background-color:rgba(173, 173, 173);
 }
 
 div.language {
    background-color:rgba(203, 203, 203);
 } 

 div.code {
     background-color:rgba(173, 173, 173);
 }
 
 footer {
     background-color:rgba(239, 239, 239);
 }

 img {
    mix-blend-mode: multiply;
 }
 
 div.foot {
    justify-content: space-between;
    display: flex;
    
 }
 
 figure, div.github, .foot p {
     width: 200px;
     margin: auto;
     padding: 10px 0;
     text-align: center; 
 }